body{
	
 margin:0;
 padding:0;
 background:url(almuni.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 font-family:sans-serif;
 
}
.loginBox{
	
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
 width:30%;
 height:auto;
 padding:30px 30px;
 box-sizing :boder-box;
 background:rgba(0,0,0,0.5);
}
.user{
	
  width:110px;
  height:110px;
  border-radius :50%;
  overflow:hidden;
  position:absolute;
  top:calc(-30px);
  left:calc(35%);
  
}

.top{    /**header text properity*/
	
 margin:0;
 padding:55px 0px 13px;
 color: #11BEF8;
 text-align:center; 
}
.loginBox p{           /*paragrap text properity*/
	
	margin:0;
	padding:0;
	font-weight:bold;
	color:#fff;
}
.loginBox input{     /*input field properity*/
	
 width:90%;
 margin-bottom:20px;
 
}
.loginBox select{     /*input dropdown properity*/
	
 width:90%;
 margin-bottom:20px;
 
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;        /*input field background*/
	outline:none;
	height:40px;                   /*input field height*/
	color:#fff;                    /*input field input text color*/
	font-size:16px;
}

.loginBox select{
	
	border:none;
	border-bottom:1.5px solid #fff;
	background:transparent;        /*input field background*/
	outline:none;
	height:40px;                   /*input field height*/
	color:#fff;                    /*input field input text color*/
	font-size:16px;
}
::placeholder{
	
	color:rgba(255,255,255,1);  /*input field hint text color*/
}
.loginBox input[type="submit"]{
	
	border:none;
	outline:none;
	height:30px;
	color:#fff;
	font-size:17px;
	background:#11BEF8;
	letter-spacing:1px; 
    font-weight:800;	
	cursor:pointer;
	border-radius:20px;
}

.loginBox input[type="submit"]:hover{
	
  background:#ff267e;
  color:#fff;
  
}
.loginBox a{
	
	color:#fff;
	font-size:17px;
	fonr-weight:600;
	text-decoration:none;
	
}

.eror{
	
	width:89%;
	margin-left:0px;
	margin-bottom:6px;
	padding:8px;
	border:1px solid  #11BEF8;
	color:red;
	background:rgba(0,0,0,0.5);	
	border-radius:5px;
	text-align:left;
}