.vertical-menu {
  position:absolute;
  right:0;
  top:56%;
  width: 240px;
}

.vertical-menu a {
	
  background-color:#fff;
  color: black;
  display: block;
  padding: 15px;
  text-align:center;
  letter-spacing:1px;
  border-bottom:1px solid rgba(0,0,0,.1); 
  border-left:2px solid rgba(0,0,0,.1); 	  
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color:#e4e7e7;;
}

.vertical-menu a.active {
  background-color:#1AA1E7;;
  color: white;
}