body{
 
 margin:0;
 padding:0;
 font-family:sans-serif;
}
ol{
	
 margin-top:10px;
 padding:8px;
 position:absolute;
 top:52%;
 left:0%;
 width:22%;
 background:#fff;
 border-radius:10px;
 box-shadow:0 15px 50px rgba(0,0,0,.2);
}
h1{
 
 margin:0;
 padding:10px;
 margin-bottom:10px;
 font-size:20px;
 border-radius:7px;
 text-align:center;
 background-color:#1AA1E7;
 color:white;
 border-bottom:2px solid rgba(0,0,0,.1); 
  
}


ol li{
	
 position:relative;
 list-style:none;
 padding:13px 8px 10px 5px;
 border-radius:4px;
 border-bottom:1px solid rgba(0,0,0,.1); 	
}
ol li:hover{
  background:#e4e7e7;	
}

ol li a{
 color:#262626;
 text-decoration:none;
 display:block;
 padding-left:70px;
 
}
ol li .date{
	
	position:absolute;
	top:3px;
	left:3px;
	width:55px;
	text-align:center;
}
ol li .date:before{
	
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:0; 
  border-top:22px solid #e2574c;
  border-bottom:44px solid #e4e7e7; 
  z-index:1;
  border-radius:5px;  
}
ol li .date h3{
	
 position:relative;
 z-index:2; 
 margin-top:-6px;
 font-size:16px;
 color:#fff;
 line-height:36px;
}
ol li .date h3 span{
	
 font-size:20px;
 color:#324d5d; 
}
ol li p{
	
 font-size:16px;
}